
*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
    font-family: 'Poppins',sans-serif;
    background: url('../assets/bg-survey.webp');
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

p, h1, h2, h4, li{
    color: white;
}